<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verifikasi</title>
  </head>
  <body>
      <center>
          <h1 style="color: red">
            Hello {{nama}}, ini link verifikasi nya :
            <a href="http://localhost:3001/verified?token={{token}}">Klik ini</a>
            <!-- Klo lg development gpp localhost, klo udh deploy pake real, misal firebase nya -->
            <!-- Nnti user id ganti token -->
            <!-- Klo lsg user id sangat bahaya, nnti orang bisa verifikasi tanpa endpoint kita -->
          </h1>
      </center>
  </body>
</html>
