<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
  </head>
  <body>
    <center>
      <div
        id="main-container"
        style="
          border: 1px solid gray;
          height: 500px;
          width: 500px;
          padding: 0 16px;
          border-radius: 5px;
        "
      >
        <div
          id="subcontainer-01"
          style="display: block; height: 40%; width: 100%; overflow: hidden"
        >
          <img
            src="https://cdn-images.threadless.com/threadless-media/artist_shops/shops/EugeneHWatfgnhd/products/773146/shirt-1537809935-ace9ffd2e7545437822c27c1e30ac6e6.png?v=3&d=eyJvbmx5X21ldGEiOiBmYWxzZSwgImZvcmNlIjogZmFsc2UsICJvcHMiOiBbWyJ0cmltIiwgW2ZhbHNlLCBmYWxzZV0sIHt9XSwgWyJyZXNpemUiLCBbXSwgeyJ3aWR0aCI6IDk5Ni4wLCAiYWxsb3dfdXAiOiBmYWxzZSwgImhlaWdodCI6IDk5Ni4wfV0sIFsiY2FudmFzX2NlbnRlcmVkIiwgWzEyMDAsIDEyMDBdLCB7ImJhY2tncm91bmQiOiAiZmZmZmZmIn1dXX0="
            alt="Survey Corps"
            style="height: 110%; width: 300px"
          />
        </div>
        <div id="subcontainer-02" style="height: 60%; width: 100%">
          <h1 style="color: rgba(0, 0, 0, 0.801); size: 0.9rem">
            Hello {{nama}}<br />{{text}}
          </h1>
          <p style="font-size: 18px; color: rgba(0, 0, 0, 0.801)">
            Enjoy free meal, horse, adventure, & many more
          </p>
          <div
            id="cta-button"
            style="
              background-color: whitesmoke;
              border: 1px solid gray;
              border-radius: 5px;
              width: 200px;
              margin-top: 32px;
            "
          >
            <a
              href="http://localhost:3001"
              style="color: rgba(0, 0, 0, 0.801); text-decoration: none"
            >
              <h2 style="margin: 0; padding-top: 16px; padding-bottom: 16px">
                Get Benefits Here!
              </h2>
            </a>
          </div>
        </div>
      </div>
    </center>
  </body>
</html>
